<header class="header">
  <div class="header-container">
    <h1 class="site-title">{{ title }}</h1>
    <nav class="main-nav">
      <ul>
        <li><a href="https://emeraldstay.com/properties">Properties</a></li>
        <li><a href="">Destinations</a></li>
        <li><a href="https://emeraldstay.com/lease-your-property">Homeowners</a></li>
        <li><a href="https://emeraldstay.com/infinity-edition">Infinity Edition</a></li>
        <li><a href="https://emeraldstay.com/about-us">About Us</a></li>
      </ul>
    </nav>
  </div>
</header>